body {
    background-color: #414141;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    text-align: center;
    padding: 20px;
}

.dropdown-container {
    background-color: grey;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    font-weight: bold;
}

.dropdown-label {
    background-color: gray;
    padding: 10px;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 20px;
    margin-right: 10px;
}

.dropdown {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

.square {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #0f0061;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 18px;
}

.square:hover {
    background-color: #010044;
}

.square img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-left: 8px;
    border-radius: 4px;
}

.counter {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: rgb(0, 0, 0);
    color: red;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bolder;
    border-radius: 10px;
}

.total-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

#total-label {
    font-size: 18px;
    margin-right: 10px;
}

#total-count {
    font-size: 18px;
    margin-right: 20px;
}

.result-button,
.resetBotao,
.copy-button {
    background-color: #2ecc71;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.resetBotao {
    background-color: #0c00b3;
}

.result-button:hover,
.resetBotao:hover,
.copy-button:hover {
    background-color: #1c7a43;
}

.copy-button {
    background-color: #0c00b3;
    margin: 0 5px;
}

.caixa {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    max-width: 600px;
    background-color: #000000;
    color: white;
}

#otherText {
    font-size: 25px;
}

.notification-container {
    max-height: 900px;
    overflow-y: auto;
    border: 1px solid transparent;
    top: 10px;
    left: 10px;
    padding: 5px;
    z-index: 1000;
}

.notification-images {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    flex-wrap: wrap;
    gap: 5px;
    max-height: 200px;
    overflow-y: auto;
}

.notification-image {
    width: 100px;
    height: 100px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.info {
    top: 20px;
    right: 20px;
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
}

.paraf2 {
    font-weight: bold;
}

.info .tit {
    margin-top: 0;
}

.info .paraf {
    margin-bottom: 0;
}

.subtract-button {
    position: absolute;
    max-height: 25px;
    top: 5px;
    right: 75px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    color: red;
}

.subtract-button:hover {
    background-color: #414141;
}

#mensagemdaorinha {
    color: red;
    font-size: large;
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 5px;
}

.aces {
    background-color: grey;
    border-radius: 5px;
    padding: 10px;
}

.grid {
    border-radius: 5px;
    background-color: gray;
    padding: 20px;
}

.outros {
    background-color: gray;
    padding: 10px;
    border-radius: 5px;
    font-weight: bolder;
}

#total-label {
    background-color: gray;
    padding: 10px;
    font-weight: bolder;
    border-radius: 5px;
}

#total-count {
    background-color: rgb(0, 0, 0);
    color: red;
    padding: 10px;
    font-weight: bolder;
    border-radius: 5px;
}
#languageSwitchButton {
    background-color: #2ecc71;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}